.features__list {
  @media screen and (min-width: $min-mobile) {
    width: 450px;
    margin: 0 auto;
  }
  @media screen and (min-width: $min-tablet) {
    width: $min-tablet;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $min-desktop) {
    width: $min-desktop;
  }
}
.features__item {
  &:not(:last-child) {
    @media screen and (max-width: $max-mobile) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $min-tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $min-desktop) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

/////////////

// .features {
//   @media screen and (min-width: $min-tablet) {
//     display: flex;
//   }
// }

// .features__item {
//   flex-basis: calc((100% - 90px) / 4);
// }
// .features__item:not(:last-child) {
//   margin-right: 30px;
// }
.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  margin-bottom: 0;
  margin-top: 0;
  color: $text-color;
  font-size: 14px;
  line-height: 1.71;
}
.features__box {
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $second-bg-color;
  margin-bottom: 30px;
  border-radius: 4px;
}
.features__icon {
  margin: 0;
  padding: 0;
}

.test1{
  max-width: 632px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #fff; 

}

.test2{
  padding: 64px 15px 86px 15px;
  display: flex;
  flex-direction: column;
  background: #001E61; 
background: rgba($color: #001E61, $alpha: 0.8);
  border: 1px solid #373D4D;
  border-bottom: 0;
  backdrop-filter: blur(20px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  align-items: center;
}
.test3{
  color: #fff;
    margin-bottom: 16px;
}